/* ** ----------------------Imports---------------------- ** */
@import url(setup.css);
/* ** ----------------------About Us---------------------- ** */
.about_us{
    display: flex;
    justify-content: space-between;
    /* margin: 239px 0 0 0; */
}
.about_us-main{
    margin: 313px 0 0 0;
}
.main__label {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color: #EE4D47;
}
.main__text {
    font-size: 18px;
    line-height: 40px;
    margin: 40px 0 0 0;
}
.about_us-main__text{
    width: 470px;
    margin-bottom: 70px;
}
.main__aside {
    border-left:10px solid #ED4D47;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    width: 580px;
    padding: 30px 55px;
}
.about_us-image{
    margin: 239px 0 0 0;
}