/* ** ----------------------Imports---------------------- ** */
@import url(setup.css);
/* ** ----------------------How To Apply---------------------- ** */
.how_to_apply {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.how_to_apply-main__text {
    width: 455px;
}
@media (max-width: 1315px){
    .how_to_apply-main__text{
        font-size: 16px;
    }
    .how_to_apply-image{
        width: 50%;
    }
    .how_to_apply{
        justify-content: space-evenly;
    }
}
@media (max-width: 1180px){
    .how_to_apply-image{
        width: 40%;
    }
}
@media (max-width: 1100px){
    .how_to_apply{
        justify-content: center;
    }
}
@media (max-width: 980px){
    .how_to_apply-main__text{
        width: 355px;
    }
}
@media (max-width: 880px){
    .how_to_apply-image{
        width: 30%;
    }
}
@media (max-width: 750px){
    .how_to_apply{
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 475px){
    .how_to_apply-main__text{
        font-size: 14px;
    }
}
@media (max-width: 375px){
    .how_to_apply-main__text{
        width: 300px;
    }
}