.container{
    display: flex;
    flex-direction: column;
}
.envelopment{
    margin: 0 0 300px 0;
}
.main {
    display: flex;
}
.main__text{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.aside__content {
    width: 35%;
    float: left;
    border-right: 2px solid lightgrey;
    padding: 10px;
}
.title{
    text-align: center;
    font-size: 25px;
    color: #d9534f;
    font-weight: 700;
}
.toggle__switch-box{
    margin: 50px 0 0 0;
    border-bottom: 1px solid lightgrey;
}
.toggle__switch-text{
    width: 250px;
}
.counter{
    margin: 30px 0 0 0;
}
.button {
    margin: 10px 120px 30px;
    color: #fff;
    font-weight: 600;
    padding: 10px 35px;
    border-radius: 5px;
    background-color: #808080;
}
#counter__total {
    font-size: 18px;
}
.delete__button{
    background-color: #d9534f;
}
.cards__container {
    width: 65%;
    float: right;
    text-align: center;
}
.cards__title {
    font-size: 25px;
    color: #d9534f;
    font-weight: 700;
}
.card {
    align-items: center;
}
.card__img {
    margin: 30px 0 0 0;
    width: 200px;
}
#card__propaganda__amount{
        color: #d9534f;
}

