.good-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.good-details__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.good-details__image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 10px;
}

.good-details__price,
.good-details__smoking {
    font-size: 20px;
    margin-bottom: 10px;
}
