.partner__container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
.partner__title{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
}
.small__text{
    margin: 0 auto;
    width: 250px;
    line-height: 1.3;
}